---
title: A page for you
layout: base.njk
---



<div class="container">
   <h1>A new JAMstack page</h1>
   <div class="vibe">you are great</div>
   <div class="love">
      ❤️
   </div>
   <ul>
   {% for article in news[0].articles %}
      <li>
         <h2>
            <a href="{{article.url}}">{{ article.title }}</a>
         </h2>
         <span>{{ article.source.name}}</span> - <time>{{article.publishedAt}}</time>
      </li>
   {% endfor %}
   </ul>
</div>
<script src="/js/vibe.js"></script>
<script src="/js/weather.js"></script>