---
title: Daily Breifing
layout: base.njk
pagination:
   data: news
   size: 1
   alias: news
permalink: /{{ news.country }}/index.html
---


<div class="container">
   <h1>A new JAMstack page</h1>
   <div class="vibe">you are great</div>
   <div class="love">
      ❤️
   </div>

   <div id="weather" class="hidden">
      <h2>Weather</h2>
      <p id="city"></p>
      <p id="temp"></p>
      <p id="main"></p>
      <p id="desc"></p>
   </div>

   <h2>News</h2>
   <ul>
   {% for article in news.articles %}
      <li>
         <h2>
            <a href="{{article.url}}">{{ article.title }}</a>
         </h2>
         <span>{{ article.source.name}}</span> - <time>{{article.publishedAt}}</time>
      </li>
   {% endfor %}
   </ul>
</div>
<script src="/js/vibe.js"></script>
<script src="/js/weather.js"></script>